<!DOCTYPE html>
<html>
<head>
	<title>Add Items Page</title>
</head>
<body ng-controller="AddPostCtrl">

<div id="nav-bar">
		<h2 id="title"><b>They Owe You</b></h2>
		<h3 class="buttons" ng-click="logout()"><a href="#"><b>Logout</b></a></h3>
		<h3 class="buttons" ><a href="#/welcome"><b><| Back</b></a></h3>
</div>



<div class='form-design'>
	<form role="form" name="postForm" ng-submit="createPost()" novalidate="">
		<legend><h3 class="form-title">Add Items</h3></legend>


		<div class="container" ng-show="success">
			<div class="row">
				<div class="alert alert-success" style="color: #728C00; text-align: center;">
					<strong>Success!</strong> The item has beed added.
				</div>
			</div>
		</div>

		<div class="row" style="padding-left: 20px">
			<div >
				<div class="form-group" ng-class="{'has-error': postForm.itemTxt.$invalid && postForm.itemTxt.$touched}">
					<label for="itemTxt">Item</label>
					<input type="text" name="itemTxt" class="form-control" placeholder="Item" ng-model="owning.$id" ng-minlength = "5" required="">
					<small class="help-block" ng-show="postForm.itemTxt.$error.minlength && postForm.itemTxt.$touched">Please enter a valid item.</small>
				</div>
				<div class="form-group" ng-class="{'has-error': postForm.detailTxt.$invalid && postForm.detailTxt.$touched}">
					<label for="detailTxt">Details</label>
					<textarea name="detailTxt" class="form-control" placeholder="Detail" ng-model="article.detailTxt" ng-minlength="0" required=""></textarea>
					<small class="help-block" ng-show="postForm.detailTxt.$error.minlength && postForm.detailTxt.$touched">Please enter a valid detail of the item.</small>
				</div>
				<div class="form-group" ng-class="{'has-error': postForm.lordTxt.$invalid && postForm.lordTxt.$touched}">
					<label for="lordTxt">Lender</label>
					<textarea  type="text"  name="lordTxt" class="form-control" placeholder="Lender" ng-model="article.lordTxt" ng-minlength="5" required=""></textarea>
					<small class="help-block" ng-show="postForm.lordTxt.$error.minlength && postForm.lordTxt.$touched">Please enter a valid email.</small>
				</div>
				<div class="form-group" ng-class="{'has-error': postForm.borrowerTxt.$invalid && postForm.borrowerTxt.$touched}">
					<label for="borrowerTxt">Borrower</label>
					<textarea  type="text"  name="borrowerTxt" class="form-control" placeholder="{{username}}" ng-model="article.borrowerTxt" ng-minlength="5" required=""></textarea>
					<small class="help-block" ng-show="postForm.borrowerTxt.$error.minlength && postForm.borrowerTxt.$touched">Please enter a valid email.</small>
				</div>
				<div class="form-group" ng-class="{'has-error': postForm.dateTxt.$invalid && postForm.dateTxt.$touched}">
					<label for="datext">Date</label>
					<textarea type="text"  name="dateTxt" class="form-control" placeholder="date" ng-model="article.dateTxt" ng-minlength="5" required=""></textarea>
					<small class="help-block" ng-show="postForm.dateTxt.$error.minlength && postForm.dateTxt.$touched">Please enter a valid date.</small>
				</div>
				<div class="form-group" style="text-align: center;">
					<button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid">Add Post</button>
				</div>
			</div>
		</div>
	</form>
</div>

</body>
</html>